<?php
/** @var \Inchoo\ShopReview\Block\Review\Index $block */
$review = $block->getReview();
?>

<?php if ($review->getId()): ?>
    <div class="customer-review view">
        <?php if ($review->getStatus() == \Inchoo\ShopReview\Model\Review::STATUS_PENDING): ?>
            <div class="message info empty"><span><?= $block->escapeHtml(__('This review is waiting for approval')) ?></span></div>
        <?php endif ?>
        <div class="product-details">
            <div class="product-info">
                <h2 class="product-name"><?= $block->escapeHtml($review->getTitle()) ?></h2>
            </div>
        </div>

        <div class="review-details">
            <div class="title">
                <strong><?= __('Your Review') ?></strong>
            </div>
            <div class="customer-review-rating">

                <div class="rating-summary item">
                    <div class="rating-result" title="<?= /* @noEscape */ $review->getRating() ?>%">
                            <span style="width:<?= /* @noEscape */ $review->getRating() ?>%">
                                <span><?= /* @noEscape */ $review->getRating()?>%</span>
                            </span>
                    </div>
                </div>
            </div>

            <div class="review-title"><?= $block->escapeHtml($block->getTitle()) ?></div>
            <div class="review-content"><?= nl2br($block->escapeHtml($review->getDescription())) ?></div>
            <div class="review-date">
                <?= $block->escapeHtml(__('Submitted on %1', '<time class="date">' .  $block->dateFormat($review->getUpdatedAt()) . '</time>'), ['time']) ?>
            </div>
        </div>
    </div>
<?php else: ?>
    <div class="message info empty"><span><?= __('There are no reviews.') ?></span></div>
<?php endif; ?>


<?php $actions =  $block->getUrlStrategy($review); ?>

<div class="actions-toolbar">
    <?php foreach ($actions as $url=>$title): ?>
        <div class="primary">
            <a class="action primary" href="<?= $block->escapeUrl($url) ?>"><span><?= $block->escapeHtml(__($title)) ?></span></a>
        </div>
    <?php endforeach; ?>
</div>

