<?php
/** @var \Inchoo\ShopReview\Block\Review\Form $block */
$review = $block->getReview();
?>
<div class="column main">
    <form action="<?= $block->escapeUrl($block->getAction()) ?>" class="review-form" method="post" id="shop-review-form"
          data-mage-init='{"validation":{}}'>
        <?= $block->getBlockHtml('formkey') ?>
        <?= $block->getChildHtml('form_fields_before') ?>
        <fieldset class="fieldset review-fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">

            <span id="input-message-box"></span>
            <fieldset class="field required review-field-ratings">
                <legend class="label"><span><?= __('Your Rating') ?></span></legend><br/>
                <div class="control">
                    <div class="nested" id="product-review-table">
                        <fieldset class="shop-rating">
                            <legend><?= __('Please rate:') ?></legend>
                            <input  data-validate="{ 'rating-required':true}" type="radio" id="star5" name="rating"
                                <?=($review->getRating() == 100)?'checked':''?>  value="100" />
                            <label for="star5" title="<?= __('Rocks!') ?>"><?= __('5 stars') ?>
                            </label>
                            <input type="radio" id="star4" name="rating" <?=($review->getRating() == 80)?'checked':''?>
                                   value="80" /><label for="star4" title="<?= __('Pretty good') ?>"><?= __('4 stars') ?>
                            </label>
                            <input type="radio" id="star3" name="rating" <?=($review->getRating() == 60)?'checked':''?>
                                   value="60" /><label for="star3" title="<?= __('Meh') ?>"><?= __('3 stars') ?>
                            </label>
                            <input type="radio" id="star2" name="rating" <?=($review->getRating() == 40)?'checked':''?>
                                   value="40" /><label for="star2" title="<?= __('Kinda bad') ?>"><?= __('2 stars') ?>
                            </label>
                            <input type="radio" id="star1" name="rating" <?=($review->getRating() == 20)?'checked':''?>
                                   value="20" /><label for="star1" title="<?= __('Sucks!') ?>"><?= __('1 star') ?>
                            </label>
                        </fieldset>
                    </div>
                    <input type="hidden" name="review_id" value="<?= $review->getReviewId() ?>" />
                </div>
            </fieldset>

            <div class="field review-field-summary required">
                <label for="summary_field" class="label"><span><?= __('Title') ?></span></label>
                <div class="control">
                    <input type="text" name="title" class="validate-length minimum-length-2 maximum-length-255 input-text"
                           id="summary_field" value="<?= $block->escapeHtml($review->getTitle()) ?>" class="input-text"
                           data-validate="{required:true}" />
                </div>
            </div>
            <div class="field review-field-text required">
                <label for="review_field" class="label"><span><?= __('Review') ?></span></label>
                <div class="control">
                    <textarea name="description" class="validate-length minimum-length-7  input-text"
                              id="review_field" cols="5" rows="3"
                              data-validate="{required:true}"><?= $block->escapeHtml($review->getDescription()) ?></textarea>
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar review-form-actions">
            <div class="primary actions-primary">
                <button type="submit" class="action submit primary"><span><?= __('Submit Review') ?></span></button>
            </div>
        </div>
    </form>
</div>

<script type="text/x-magento-init">
{
    "[data-role=product-review-form]": {
        "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
    },
    "#shop-review-form": {
        "Inchoo_ShopReview/js/validate-shop-rating": {}
    }
}
</script>