<?php
/** @var \Inchoo\ShopReview\Block\Review\View $block */
$reviews = $block->getReviews();
?>

<?php if($reviews && count($reviews) > 0): ?>

    <h2><?= __('See what customers say about us') ?></h2>

    <?php foreach ($reviews as $review): ?>
        <div class="container">
            <p><span><?= $block->escapeHtml($review->getCustomerFullName()) ?></span> <?= nl2br($block->escapeHtml($review->getTitle())) ?></p>
            <p><?= nl2br($block->escapeHtml($review->getDescription())) ?></p>
        </div>
    <?php endforeach; ?>

<?php endif; ?>