.shop-rating {
    float:left;
}

.shop-rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.shop-rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.shop-rating:not(:checked) > label:before {
    content: '★ ';
}

.shop-rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.shop-rating:not(:checked) > label:hover,
.shop-rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.shop-rating > input:checked + label:hover,
.shop-rating > input:checked + label:hover ~ label,
.shop-rating > input:checked ~ label:hover,
.shop-rating > input:checked ~ label:hover ~ label,
.shop-rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.shop-rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

